*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root{
    --primary-color: #3498db;
    --card-background: #ffffff;
    --text-color: #1c1c1c;
    --quote-color: #6d7c85;
    --background-color: #eaf6fb;
}

html,body{
    height: 100%;
    margin:0;
}

main{
    flex:1;
}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--background-color);
color: var(--text-color);
padding:20px;
line-height: 1.6;
display: flex;
flex-direction: column;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.card_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.profile_card{
    background-color: var(--card-background);
    border-radius: 6px;
    margin-bottom: 10px;
    border:1px solid #cdcccc;
    padding: 1rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.profile_card img{
    width: 150px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    
}

.profile_card h2{
    margin-top: 5px;
    margin-bottom: 20px;
    
}

.profile_card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.quote{
    font-style: italic;
    color: var(--quote-color);
    margin:10px 0;
    margin-top: 5px;
    font-size: 0.85em;
}

figcaption{
    font-size: 0.8em;
    color: var(--text-color);
    margin-top: 1px;
}

footer{
    font-size: 0.9em;
    margin-top: auto;
    text-align: center;
    margin-bottom: 5px;
}

.view_btn{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s ease;
}